
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<body>
    <h1 style="margin: 4rem; font-family: monospace;">CHỦ ĐỀ - WEB BÁN LAPTOP DANH QUY MÔ NHỎ</h1>
    <div>
        <div style="margin-left: 4rem; font-size: 26px;">Thành viên</div>
        <ul style="margin:1rem; list-style:none; font-size: 20px;">
            <li style="margin-left:2rem; padding-bottom: 1rem;">Phạm Thị Huyền Trân</li>
            <li style="margin-left:2rem; padding-bottom: 1rem;">Hồ Đức Dũng</li>
            <li style="margin-left:2rem; padding-bottom: 1rem;">La Nguyễn Đăng Khoa</li>
            <li style="margin-left:2rem; padding-bottom: 1rem;">Nguyễn Văn Phú</li>
        </ul>
    </div>
</body>
