@model ShopLaptop.Models.DBContext.Category

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-7">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header"><h3 class="text-center font-weight-light my-4">Thêm thương hiệu</h3></div>
                <div class="card-body">
                    @using (Html.BeginForm("Create", "Brand", FormMethod.Post))
                    {
                        @Html.ValidationSummary(true, null, new { @class = "alert alert-danger" })
                        <div class="form-group">
                            <label class="small mb-1" style="font-size: 20px; font-weight:bold;" for="inputEmailAddress">THƯƠNG HIỆU</label>
                            @Html.TextBoxFor(model => model.Name, new { @class = "form-control py-4", @placeholder = "Nhập tên thương hiệu" })
                        </div>
                        <div class="form-group mt-4 mb-0">
                            <input type="submit" value="LƯU" class="btn btn-primary btn-block" />
                        </div>
                    }
                    <form>
                    </form>
                </div>
                <div>
                    @Html.ActionLink("DANH SÁCH THƯƠNG HIỆU", "Index", "Brand", new { @class = "btn btn-warning", @style = "margin-left:1rem; margin-bottom:2rem" })
                </div>
            </div>
        </div>
    </div>
</div>
