
@{
    ViewBag.Title = "XacNhanDonHang";
    Layout = "~/Views/Shared/_Layout_2.cshtml";
}
<div class="about_section section_two">
    <div class="row align-items-center">

        <div class="col-12">
            <div class="about_content">
                <h1 style="font-family: monospace;">Đặt hàng thành công <br>Chúng tôi biết bạn có nhiều lựa chọn, cảm ơn bạn đã lựa chọn chúng tôi</h1>
                <p>Đơn hàng của bạn đã hoàn tất. Chúng tôi sẽ liên lạc với bạn sớm nhất để xác nhận đơn hàng.</p>
                <div class="view__work">
                    <a style="font-family: monospace;" href="@Url.Action("Index", "Main")">Tiếp tục mua sắm</a>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="about_thumb">
                <img src="~/Assets/Image/Banner/banner_big_1.jpg" alt="">
            </div>
        </div>
    </div>
</div>
<!--about section end-->